@media (max-width: 30em) {
    nav #menu ul{
        display: none;
    }

    #main_header h2 {
        display: none;
    }
    #news article header a {
        text-decoration: none;
        color: black;
        font-family: Verdana;
        
    }
    aside #related {
        display: none;
    }
    
    body{
        grid-template-rows: 3;
        grid-template-columns: 1;
    }
    section #news{
        width: 100%;
        grid-row-start: 3;
    }
    
    #menu.hamburguer {
        display: block;
        background-color: #2a2f33;
        color: white;
        padding: 1em;
    }
    #menu.hamburguer::before{
        content: '\2630';
    }
    #menu ul{
        flex-direction: column;
        margin: 0;
        padding: 0;
        color: white;
    }
    #hamburguer:checked+.hamburguer + ul li{
        max-height: 1em;
        padding: 1em;
        opacity: 1;
    }
    #hamburguer:checked+.hamburguer::before{
        content: '\2715'
    }
}

@media (max-width: 60em) {
    aside #related {
        display: none;
    }
    body {
        width: 100%;
    }
}