@media (max-width: 30em) {
    
    #main_header h2 {
        display: none;
    }
    #news article header a {
        text-decoration: none;
        color: black;
        font-family: Verdana;
        text-shadow: none;
        
    }

    article header {
        position: relative;
        padding: 15px;

    }

    #related {
        display: none;
    }
    
    #news{
        width: 100%;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    #news article header a {
        display: block;
        position: relative;
    }
     
    /*
    #menu{
        display: block;
        background-color: #2a2f33;
        color: white;
        padding: 1em;
        grid-column: span 5;
    }
    */
    #menu .hamburger{
        display: block;
        background-color: #2a2f33;
        color: white;
        padding: 1em;
    }

    #menu .hamburger:before{
        content: "\2630";
    }
    #menu ul{
        flex-direction: column;
        margin: 0;
        padding: 0;
        color: white;
    }

    #menu ul li{
        opacity: 0;
        text-align: left;
        transition: all .3s ease-in-out;
        z-index: 2;
        border-top: 0;
        
    }
    nav ul li:nth-child(1){
        border-left: solid 5px;
        border-left-color: #E1493E;
        padding: 1em;
        
        
        
    }
    
    nav ul li:nth-child(2){
        border-left: solid 5px;
        border-left-color: #8ABA56;
        padding: 1em;
        
    }
    
    nav ul li:nth-child(3){
        border-left: solid 5px;
        border-left-color: #5B4282;
        padding: 1em;
    }
    
    nav ul li:nth-child(4){
        border-left: solid 5px;
        border-left-color: #FF8932;
        padding: 1em;
    }
    
    nav ul li:nth-child(5){
        border-left: solid 5px;
        border-left-color: #19B6E9;
        padding: 1em;
    }
    
    nav ul li:nth-child(6){
        border-left: solid 5px;
        border-left-color: #E84C8B;
        padding: 1em;
    }

    #hamburger:checked + .hamburger + ul li{

        max-height: 1em;
        padding: 1em;
        opacity: 1;
        background-color: white;

    }
    #hamburger:checked+.hamburger:before{
        content: "\2715";
    }
    footer{
        grid-row: 5;
        grid-column-end: span 6;
    }
}

@media (max-width: 60em) {
    #related {
        display: none;
    }
    #news{
        width: 100%;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 6;
    }
    #menu{
        grid-column-end: span 6;
    }
    body {
        width: 100%;
    }
    footer{
        grid-column-end: span 6;
    }
}